.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
  position: sticky; /* Сделать панель пагинации фиксированной */
  bottom: 0; /* Прикрепить к низу контейнера */
  width: 100%;
  box-sizing: border-box;
}

.rows-per-page {
  display: flex;
  align-items: center;
}

.rows-per-page .MuiFormControl-root {
  min-width: 120px; /* Ширина для выпадающего списка */
}

.rows-per-page .MuiInputLabel-root {
  margin-right: 10px;
}

.rows-per-page .MuiSelect-root {
  padding: 5px;
}

.page-info {
  flex: 1;
  text-align: center;
}

.page-controls .pagination-button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

.page-controls .pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Медиазапросы для адаптивности */
@media (min-width: 768px) {
  .pagination-container {
    flex-wrap: nowrap; /* Убираем wrap для планшетов и выше */
  }

  .rows-per-page {
    margin-bottom: 0; /* Убираем отступ для планшетов и выше */
  }
}