.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.table-search {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px; /* Отступ снизу для лучшего визуального отделения */
}

.table-search input {
  width: 530px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #5f5f5f;
  border-radius: 4px;
  margin-left: 0;
  margin-right: auto;
  border-bottom: none; /* Убираем нижнюю границу */
}

.results-header {
  font-family: Roboto, sans-serif; /* Запасной шрифт */
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0; /* Отступ сверху и снизу для заголовка */
}

/* Настройка таблицы */
.repository-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 20px; /* Отступы по бокам */
  overflow-y: auto; /* Прокрутка таблицы */
  max-height: 400px; /* Максимальная высота таблицы */
}

/* Стили для ползунка */
.repository-table::-webkit-scrollbar {
  width: 12px;
  height: 12px; /* Стилизация горизонтального скролла */
}

.repository-table::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.repository-table::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.repository-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Стили для заголовков таблицы */
th {
  font-size: 20px !important; /* Размер шрифта для заголовков */
  padding: 8px; /* Уменьшение отступов для более компактного вида */
  text-align: center !important; /* Выравнивание текста по центру */
  border-bottom: 2px solid rgba(0, 0, 0, 0.12); /* Более выраженная граница для заголовков */
  cursor: pointer;
}

td {
  font-size: 17px !important; /* Размер шрифта для ячеек таблицы */
  padding: 8px; /* Уменьшение отступов для более компактного вида */
  text-align: center !important; /* Выравнивание текста по центру */
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/* Ширина ячеек и минимальная ширина */
th,
td {
  min-width: 0px; /* Минимальная ширина ячеек, установите, если необходимо */
}

tr:hover {
  background: rgba(33, 150, 243, 0.04);
  cursor: pointer;
}
