html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Чтобы растянуть на всю высоту */
  overflow: hidden; /* Избегаем лишних полос прокрутки */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Вся высота окна */
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content-area {
  display: flex;
  flex: 1;
  align-items: stretch; /* Stretch children to fill container */
}

.table-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.table-container {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.welcome-message {
  color: rgba(79, 79, 79, 1);
  font-size: 46px;
  margin-top: 20px;
  flex-grow: 1; /* Заставляем welcome-message занимать всю оставшуюся ширину */
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
}

.pagination-container {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
}


